.test-taker-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.test-taker-list-item .gender-icon {
	width: 30px;
	height: 30px;
	margin: 0 15px 0 0;
}

.test-taker-list-item .names {
	flex-grow: 1;
}

.test-taker-list-item .title,
.test-taker-list-item .firstname,
.test-taker-list-item .lastname {
	text-transform: capitalize;
}

.test-taker-list-item .title {
	display: inline-block;
	color: #555;
	font-size: 0.9em;
}

.test-taker-list-item .username {
	display: block;
	color: #555;
	font-size: 0.7em;
	border-top: 1px solid #eee;
	margin-top: 5px;
	padding-top: 5px;
}