@import './src/list/list.css';
@import './src/testTakerList/item/item.css';

html, body {
	font-family: sans-serif;
}

#data-source-selector {
	max-width: 350px;
	font-size: 0.8em;
	margin: 0 auto 20px;
	text-align: center;
}

#data-source-selector a {
	color: inherit;
}

#data-source-selector .active {
	font-weight: bold;
}

#list-container {
	max-width: 350px;
	margin: 0 auto;
}
