.list {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	min-height: 200px;
}

.list.list-loading::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.05);
}

.list .list-item,
.list-load-more-button {
	padding: 0.5em;
	margin: 5px;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	background: #fff;
}

.list-load-more-button {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.list-load-more-button:hover {
	background: #fefefe;
}
